*.lo
*.o
.deps/
.libs/
/aclocal.m4
/autom4te.cache
/config.h.in
/config.h
/config.log
/config.status
/configure
/libtool
/stamp-h1
/Makefile.in
tools/Makefile.in
doc/Makefile.in
m4/Makefile.in
src/Makefile.in
tests/Makefile.in
/Makefile
m4/Makefile
tools/Makefile
doc/tgpg.info
doc/stamp-vti
doc/version.texi
doc/Makefile
src/Makefile
src/libtgpg-config
src/libtgpg.la
tests/Makefile
tests/gpghome
tests/keystore-static.c
tests/test*
tests/tgpgtest
tools/tgpg-keystore

obj
GPATH
GRTAGS
GSYMS
GTAGS
