#include <stdio.h>
#include "tgpgdefs.h"
#include "keystore.h"

struct keytable seckey_table[] = {
  /* Add your key here.  See tools/tgpg-keystore for a way to generate
     this file automatically.  */
    { /* sentinel */ 0 },
};
